<% users.each do |user| %>
  <tr>    
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <td width="20%">
      <% if current_user != user %>
        <%= check_box_tag("user_account_active", nil, user.account_active? , class: "checkbox", user_id: user.id) %>
      <% else %>
        Yes
      <% end %>
    </td>
   </tr>
<%end%>
